<template>
    <b-input-group label-size="sm" size="sm" :prepend="label" :id="id + 'label'" :label-for="id">
        <b-form-input size="sm" :id="id" type="text" :name="id"
                      v-model="value"
                      v-validate="validation"
                      :required="!!required">
        </b-form-input>
        <b-input-group-append>
            <b-button variant="secondary" v-b-tooltip.hover :title="tooltip" tabindex="-1">
                <icon name="info-circle"/>
            </b-button>
        </b-input-group-append>
        <br/>
        <div v-show="errors.has(id)" class="invalid-feedback">{{ errors.first(id) }}</div>
    </b-input-group>
</template>

<script type="text/javascript">
export default {
  props: ['value', 'id', 'label', 'tooltip', 'validation', 'required'],
  watch: {
    value () {
      this.$emit('input', this.value)
    }
  }
}
</script>
<style>
</style>
