<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
}
div.tooltip-inner {
  max-width: 380px !important;
  text-align: left !important;;
}
@media (min-width: 1300px) {
  .container {
    max-width: 1240px !important;;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1340px !important;
  }
}
</style>
