<template>
  <div>
    <b-navbar toggleable="md" type="light" variant="header" sticky>
      <b-container>
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-navbar-brand href="#">
          <img id="qrinvoice-logo" alt="QR Invoice Library" src="static/qrinvoice-logo.svg">
        </b-navbar-brand>
        <b-collapse is-nav id="nav_collapse">
          <b-navbar-nav class="ml-auto">
            <b-nav-item v-b-modal.examplesModal>{{ $t('examples.title') }}</b-nav-item>
            <b-nav-item v-b-modal.scanModal>{{ $t('nav.scan') }}</b-nav-item>
            <b-nav-item v-b-modal.utilsModal>{{ $t('nav.utils') }}</b-nav-item>
            <b-nav-item v-b-modal.pdfUtils>{{ $t('nav.pdfUtils') }}</b-nav-item>
            <b-nav-item href="https://www.qr-invoice.ch">{{ $t('nav.productPage') }}</b-nav-item>
            <b-nav-item href="../swagger-ui.html">{{ $t('nav.swagger') }}</b-nav-item>
            <b-nav-item-dropdown :text="$t('nav.lang.' + currentLanguage)" right>
              <b-dropdown-item :active="currentLanguage === 'de'" @click="changeLanguage('de')">
                {{ $t('nav.lang.de') }}
              </b-dropdown-item>
              <b-dropdown-item :active="currentLanguage === 'fr'" @click="changeLanguage('fr')">
                {{ $t('nav.lang.fr') }}
              </b-dropdown-item>
              <b-dropdown-item :active="currentLanguage === 'it'" @click="changeLanguage('it')">
                {{ $t('nav.lang.it') }}
              </b-dropdown-item>
              <b-dropdown-item :active="currentLanguage === 'en'" @click="changeLanguage('en')">
                {{ $t('nav.lang.en') }}
              </b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>
    <b-container>
      <b-row v-show="response.status">
        <b-col cols="12">
          <span style="display: block;">
            <b-form-textarea style="text-align: left;background: transparent; color:red; border:none"
                             v-model="response.status" readonly no-resize></b-form-textarea>
          </span>
        </b-col>
      </b-row>
      <b-row v-if="showApiKey">
        <b-col sm="12" class="p-2">
          <b-card header-class="p-3" body-class="p-3">
            <div slot="header" class="mx-1">
              <icon name="key"></icon>
              {{ $t('authentication.title') }}
            </div>
            <b-form-group :description="defaultApiKey === apiKey ? $t('authentication.apiKey_default') : ''">
              <labeled-input :label="$t('authentication.apiKey')" :tooltip="$t('authentication.apiKey_tooltip')"
                             id="ApiKey" v-model="apiKey" required="false"></labeled-input>
            </b-form-group>
          </b-card>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="12" md="12" lg="6" xl="6" class="p-2">
          <b-card header-class="p-3" body-class="p-3">
            <div slot="header" class="mx-1">
              <icon name="sync"></icon>
              {{ $t('preview.titlePreviewGenerate') }}
            </div>
            <b-button-toolbar key-nav aria-label="Generate / export buttons">
              <b-button-group class="mx-1">
                <b-btn @click="showPreview">
                  <icon name="file-invoice"></icon>
                  {{ $t('output.paymentPartReceipt.title') }}
                </b-btn>
              </b-button-group>
              <b-button-group class="mx-1">
                <b-btn @click="showQrCodePreview">
                  <icon name="qrcode"></icon>
                  {{ $t('output.qrCode.title') }}
                </b-btn>
              </b-button-group>
              <b-button-group class="mx-1">
                <b-btn @click="getSwissPaymentCode">
                  <icon name="file-code"></icon>
                  {{ $t('output.swissPaymentsCode.title') }}
                </b-btn>
              </b-button-group>
            </b-button-toolbar>
          </b-card>
        </b-col>
        <b-col sm="12" md="12" lg="6" xl="6" class="p-2">
          <b-card header-class="p-3" body-class="p-3">
            <div slot="header" class="mx-1">
              <icon name="download"></icon>
              {{ $t('output.title') }}
            </div>
            <b-button-toolbar key-nav aria-label="Generate / export buttons">
              <b-button-group class="mx-1">
                <b-btn v-b-modal.exportPaymentPartReceiptModal>
                  <icon name="file-invoice"></icon>
                  {{ $t('output.paymentPartReceipt.title') }}
                </b-btn>
              </b-button-group>
              <b-button-group class="mx-1">
                <b-btn v-b-modal.qrCodeModal>
                  <icon name="qrcode"></icon>
                  {{ $t('output.qrCode.title') }}
                </b-btn>
              </b-button-group>
            </b-button-toolbar>
          </b-card>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="12" md="12" lg="6" xl="6" class="p-2">
          <b-form @reset="onReset" v-if="show" class="form-horizontal">
            <b-card header-class="p-3" body-class="p-3">
              <div slot="header">
                <icon name="regular/address-card" scale="1.5" class="mx-1"></icon>
                {{ $t('creditor.title') }}
              </div>
              <b-form-group>
                <labeled-input :label="$t('creditor.creditorInformation.iban')"
                               :tooltip="$t('creditor.creditorInformation.iban_tooltip')" id="IBAN"
                               v-model="body.creditorInformation.iban" validation="required|min:21|max:21"
                               required="true"></labeled-input>
              </b-form-group>
              <b-form-group>
                <labeled-input :label="$t('creditor.creditorInformation.creditor.name')"
                               :tooltip="$t('creditor.creditorInformation.creditor.name_tooltip')" id="Creditor Name"
                               v-model="body.creditorInformation.creditor.name" validation="required|min:1|max:70"
                               required="true"></labeled-input>
              </b-form-group>
              <b-form-group>
                <labeled-input :label="$t('creditor.creditorInformation.creditor.street')"
                               :tooltip="$t('creditor.creditorInformation.creditor.street_tooltip')"
                               id="Creditor Street"
                               v-model="body.creditorInformation.creditor.streetName" validation="min:1|max:70"
                               required="false"></labeled-input>
              </b-form-group>
              <b-form-group>
                <labeled-input :label="$t('creditor.creditorInformation.creditor.houseNumber')"
                               :tooltip="$t('creditor.creditorInformation.creditor.houseNumber_tooltip')"
                               id="Creditor House Number" v-model="body.creditorInformation.creditor.houseNumber"
                               validation="min:1|max:16" required="false"></labeled-input>
              </b-form-group>
              <b-form-group>
                <labeled-input :label="$t('creditor.creditorInformation.creditor.postalCode')"
                               :tooltip="$t('creditor.creditorInformation.creditor.postalCode_tooltip')"
                               id="Creditor Postal Code" v-model="body.creditorInformation.creditor.postalCode"
                               validation="min:1|max:16" required="true"></labeled-input>
              </b-form-group>
              <b-form-group>
                <labeled-input :label="$t('creditor.creditorInformation.creditor.city')"
                               :tooltip="$t('creditor.creditorInformation.creditor.city_tooltip')" id="Creditor City"
                               v-model="body.creditorInformation.creditor.city" validation="min:1|max:35"
                               required="true"></labeled-input>
              </b-form-group>
              <b-form-group>
                <labeled-input :label="$t('creditor.creditorInformation.creditor.country')"
                               :tooltip="$t('creditor.creditorInformation.creditor.country_tooltip')"
                               id="Creditor Country"
                               v-model="body.creditorInformation.creditor.country" validation="min:2|max:2"
                               required="true"></labeled-input>
              </b-form-group>
            </b-card>
            <b-card header-class="p-3" body-class="p-3">
              <div slot="header">
                <icon name="regular/address-card" scale="1.5" class="mx-1"></icon>
                {{ $t('ultimateDebtor.title') }}
              </div>
              <b-form-group>
                <labeled-input :label="$t('ultimateDebtor.name')" :tooltip="$t('ultimateDebtor.name_tooltip')"
                               id="Ultimate Debtor Name" v-model="body.ultimateDebtor.name"
                               validation="min:1|max:70" required="false"></labeled-input>
              </b-form-group>
              <b-form-group>
                <labeled-input :label="$t('ultimateDebtor.street')" :tooltip="$t('ultimateDebtor.street_tooltip')"
                               id="Ultimate Debtor Street" v-model="body.ultimateDebtor.streetName"
                               validation="min:1|max:70" required="false"></labeled-input>
              </b-form-group>
              <b-form-group>
                <labeled-input :label="$t('ultimateDebtor.houseNumber')"
                               :tooltip="$t('ultimateDebtor.houseNumber_tooltip')" id="Ultimate Debtor House Number"
                               v-model="body.ultimateDebtor.houseNumber" validation="min:1|max:16"
                               required="false"></labeled-input>
              </b-form-group>
              <b-form-group>
                <labeled-input :label="$t('ultimateDebtor.postalCode')"
                               :tooltip="$t('ultimateDebtor.postalCode_tooltip')" id="Ultimate Debtor Postal Code"
                               v-model="body.ultimateDebtor.postalCode" validation="min:1|max:16"
                               required="false"></labeled-input>
              </b-form-group>
              <b-form-group>
                <labeled-input :label="$t('ultimateDebtor.city')" :tooltip="$t('ultimateDebtor.city_tooltip')"
                               id="Ultimate Debtor City" v-model="body.ultimateDebtor.city"
                               validation="min:1|max:35" required="false"></labeled-input>
              </b-form-group>
              <b-form-group>
                <labeled-input :label="$t('ultimateDebtor.country')" :tooltip="$t('ultimateDebtor.country_tooltip')"
                               id="Ultimate Debtor Country" v-model="body.ultimateDebtor.country"
                               validation="min:2|max:2" required="false"></labeled-input>
              </b-form-group>
            </b-card>
            <b-card header-class="p-3" body-class="p-3">
              <div slot="header" class="mx-1">
                <icon name="regular/address-card" scale="1.5"></icon>
                {{ $t('ultimateCreditor.title') }}
              </div>
              <div v-show="ultimateCreditorEqualsCreditor">
                {{ $t('ultimateCreditor.futureUse') }}<br><br>
                <b-form-checkbox class="checkbox" v-model="ultimateCreditorEqualsCreditor"
                                 v-on:change="ultimateCreditoEqualsCreditorUpdate()">
                  {{ $t('ultimateCreditor.sameAsCreditor') }}
                </b-form-checkbox>
              </div>
              <div style="margin-bottom: 10px;text-align-last:left;color: black">
              </div>
              <div id="ultimateCreditorDiv" v-if="!ultimateCreditorEqualsCreditor">
                {{ $t('ultimateCreditor.futureUse') }}<br><br>
                <b-form-checkbox class="checkbox" v-model="ultimateCreditorEqualsCreditor"
                                 v-on:change="ultimateCreditoEqualsCreditorUpdate()">
                  {{ $t('ultimateCreditor.sameAsCreditor') }}
                </b-form-checkbox>
                <b-form-group>
                  <labeled-input :label="$t('ultimateCreditor.name')" :tooltip="$t('ultimateCreditor.name_tooltip')"
                                 id="Ultimate Creditor Name" v-model="body.ultimateCreditor.name"
                                 validation="min:1|max:70" required="false"></labeled-input>
                </b-form-group>
                <b-form-group>
                  <labeled-input :label="$t('ultimateCreditor.street')" :tooltip="$t('ultimateCreditor.street_tooltip')"
                                 id="Ultimate Creditor Street"
                                 v-model="body.ultimateCreditor.streetName" validation="min:1|max:70"
                                 required="false"></labeled-input>
                </b-form-group>
                <b-form-group>
                  <labeled-input :label="$t('ultimateCreditor.houseNumber')"
                                 :tooltip="$t('ultimateCreditor.houseNumber_tooltip')"
                                 id="Ultimate Creditor House Number"
                                 v-model="body.ultimateCreditor.houseNumber" validation="min:1|max:16"
                                 required="false"></labeled-input>
                </b-form-group>
                <b-form-group>
                  <labeled-input :label="$t('ultimateCreditor.postalCode')"
                                 :tooltip="$t('ultimateCreditor.postalCode_tooltip')" id="Ultimate Creditor Postcode"
                                 v-model="body.ultimateCreditor.postalCode" validation="min:1|max:16"
                                 required="false"></labeled-input>
                </b-form-group>
                <b-form-group>
                  <labeled-input :label="$t('ultimateCreditor.city')" :tooltip="$t('ultimateCreditor.city_tooltip')"
                                 id="Ultimate Creditor City" v-model="body.ultimateCreditor.city"
                                 validation="min:1|max:35" required="false"></labeled-input>
                </b-form-group>
                <b-form-group>
                  <labeled-input :label="$t('ultimateCreditor.country')"
                                 :tooltip="$t('ultimateCreditor.country_tooltip')" id="Ultimate Creditor Country"
                                 v-model="body.ultimateCreditor.country" validation="min:2|max:2"
                                 required="false"></labeled-input>
                </b-form-group>
              </div>
            </b-card>
          </b-form>
        </b-col>
        <b-col sm="12" md="12" lg="6" xl="6" class="p-2">
          <b-card header-class="p-3" body-class="p-3">
            <div slot="header" class="mx-1">
              <icon name="money-bill" scale="1.5"></icon>
              {{ $t('paymentAmountInformation.title') }}
            </div>
            <b-form-group>
              <labeled-input :label="$t('paymentAmountInformation.amount')"
                             :tooltip="$t('paymentAmountInformation.amount_tooltip')" id="Payment Amount"
                             v-model="body.paymentAmountInformation.amount" validation="between:0,999999999"
                             required="false"></labeled-input>
            </b-form-group>
            <b-form-group>
              <b-input-group size="sm" :prepend="$t('paymentAmountInformation.currency')" id="currencyLabel"
                             label-for="currency">
                <b-form-select id="currencyInput" :options="currencies" name="Payment Currency"
                               v-model="body.paymentAmountInformation.currency" v-validate="'required|min:3|max:3'"
                               required></b-form-select>
                <b-input-group-append>
                  <b-button variant="secondary" v-b-tooltip.hover
                            :title="$t('paymentAmountInformation.currency_tooltip')" tabindex="-1">
                    <icon name="info-circle"/>
                  </b-button>
                </b-input-group-append>
                <br/>
                <div v-show="errors.has('Payment Currency')" class="invalid-feedback">
                  {{ errors.first('Payment Currency') }}
                </div>
              </b-input-group>
            </b-form-group>
          </b-card>
          <b-card header-class="p-3" body-class="p-3">
            <div slot="header" class="mx-1">
              <icon name="tags" scale="1.5"></icon>
              {{ $t('paymentReference.title') }}
            </div>
            <b-form-group>
              <b-input-group size="sm" :prepend="$t('paymentReference.referenceType')" id="referenceTypeLabel"
                             label-for="referenceType">
                <b-form-select id="referenceType" :options="referenceTypes" name="Payment Reference Type"
                               v-model="body.paymentReference.referenceType"
                               v-validate="'required|min:3|max:4'" required></b-form-select>
                <b-input-group-append>
                  <b-button variant="secondary" v-b-tooltip.hover :title="$t('paymentReference.referenceType_tooltip')"
                            tabindex="-1">
                    <icon name="info-circle"/>
                  </b-button>
                </b-input-group-append>
                <br/>
                <div v-show="errors.has('Payment Reference Type')" class="invalid-feedback">
                  {{ errors.first('Payment Reference Type') }}
                </div>
              </b-input-group>
            </b-form-group>
            <b-form-group>
              <b-input-group size="sm" :prepend="$t('paymentReference.reference')" id="referenceLabel"
                             label-for="reference">
                <b-form-input size="sm" id="referenceInput" type="text" name="Payment Reference"
                              v-model="body.paymentReference.reference" v-validate="'min:0|max:29'"
                              :disabled="withoutReference"></b-form-input>
                <b-input-group-append>
                  <b-button variant="secondary" v-b-tooltip.hover :title="$t('paymentReference.reference_tooltip')"
                            tabindex="-1">
                    <icon name="info-circle"/>
                  </b-button>
                </b-input-group-append>
                <br/>
                <div v-show="errors.has('Payment Reference')" class="invalid-feedback">
                  {{ errors.first('Payment Reference') }}
                </div>
              </b-input-group>
            </b-form-group>
            <b-form-group>
              <b-form-group size="sm" :label="$t('paymentReference.additionalInformation.unstructuredMessage')"
                            id="unstructuredMessageLabel" label-for="unstructuredMessage"
                            :description="$t('paymentReference.additionalInformation.unstructuredMessage_tooltip')">
                <b-form-textarea id="unstructuredMessage" name="Unstructured Message"
                                 :placeholder="$t('paymentReference.additionalInformation.unstructuredMessage_placeholder')"
                                 :rows="3" :max-rows="6"
                                 v-model="body.paymentReference.additionalInformation.unstructuredMessage"
                                 v-validate="'min:0|max:140'"></b-form-textarea>
                <div v-show="errors.has('Unstructured Message')" class="invalid-feedback">
                  {{ errors.first('Unstructured Message') }}
                </div>
              </b-form-group>
              <b-form-group size="sm" :label="$t('paymentReference.additionalInformation.billInformation')"
                            id="billInformationLabel" label-for="billInformation"
                            :description="$t('paymentReference.additionalInformation.billInformation_tooltip')">
                <b-form-textarea id="billInformation" name="Bill Information"
                                 :placeholder="$t('paymentReference.additionalInformation.billInformation_placeholder')"
                                 :rows="3"
                                 :max-rows="6" v-model="body.paymentReference.additionalInformation.billInformation"
                                 v-validate="'min:0|max:140'"></b-form-textarea>
                <div v-show="errors.has('Bill Information')" class="invalid-feedback">
                  {{ errors.first('Bill Information') }}
                </div>
              </b-form-group>
            </b-form-group>
          </b-card>
          <b-card header-class="p-3" body-class="p-3">
            <div slot="header" class="mx-1">
              <icon name="list" scale="1.5"></icon>
              {{ $t('alternativeSchemes.title') }}
            </div>
            <b-form-group>
              <labeled-input :label="$t('alternativeSchemes.alternativeSchemeParameters')"
                             :tooltip="$t('alternativeSchemes.alternativeSchemeParameters_tooltip')"
                             id="Alternative scheme parameters 1"
                             v-model="body.alternativeSchemes.alternativeSchemeParameters[0]" validation="min:0|max:100"
                             required="false"></labeled-input>
            </b-form-group>
            <b-form-group>
              <labeled-input :label="$t('alternativeSchemes.alternativeSchemeParameters')"
                             :tooltip="$t('alternativeSchemes.alternativeSchemeParameters_tooltip')"
                             id="Alternative scheme parameters 2"
                             v-model="body.alternativeSchemes.alternativeSchemeParameters[1]" validation="min:0|max:100"
                             required="false"></labeled-input>
            </b-form-group>
          </b-card>
        </b-col>
        <b-col sm="12" md="5" lg="4" xl="4" class="p-2">
        </b-col>
      </b-row>
      <b-modal id="exportPaymentPartReceiptModal" size="lg">
        <div slot="modal-title">
          <icon name="file-invoice"></icon>
          {{ $t('output.paymentPartReceipt.title') }}
        </div>
        <span style="display: block;" v-show="response.status">
          <b-form-textarea style="text-align: left;background: transparent; color:red; border:none"
                           v-model="response.status" readonly no-resize></b-form-textarea>
        </span>
        <b-form @submit="getPaymentPart" v-if="show" class="form-horizontal">
          <b-form-group>
            <b-input-group size="sm" :prepend="$t('output.paymentPartReceipt.language')" id="paymentPartLanguageLabel"
                           label-for="paymentPartLanguage">
              <b-form-select id="paymentPartLanguage" :options="outputLanguages" v-model="paymentPartReceipt.language"
                             required></b-form-select>
            </b-input-group>
          </b-form-group>
          <b-form-group>
            <b-input-group size="sm" :prepend="$t('output.paymentPartReceipt.fontFamily')"
                           id="paymentPartFontFamilyLabel" label-for="paymentPartFontFamily">
              <b-form-select id="paymentPartFontFamily" :options="fontFamilies" v-model="paymentPartReceipt.fontFamily"
                             required></b-form-select>
            </b-input-group>
          </b-form-group>
          <b-form-group>
            <b-input-group size="sm" :prepend="$t('output.paymentPartReceipt.format')" id="paymentPartFormatLabel"
                           label-for="paymentPartFormat">
              <b-form-select id="paymentPartFormat" :options="formats" v-model="paymentPartReceipt.format"
                             required></b-form-select>
            </b-input-group>
          </b-form-group>
          <b-form-group v-if="paymentPartReceipt.format !== 'application/pdf'">
            <b-input-group size="sm" :prepend="$t('output.paymentPartReceipt.resolution')"
                           id="paymentPartResolutionLabel" label-for="paymentPartResolution">
              <b-form-select id="paymentPartResolution" :options="resolutions" v-model="paymentPartReceipt.resolution"
                             required></b-form-select>
            </b-input-group>
          </b-form-group>
          <b-form-group>
            <b-input-group size="sm" :prepend="$t('output.paymentPartReceipt.pageSize')" id="paymentPartPageSizeLabel"
                           label-for="paymentPartPageSize">
              <b-form-select id="paymentPartPageSize" :options="pageSizes" v-model="paymentPartReceipt.pageSize"
                             required></b-form-select>
            </b-input-group>
          </b-form-group>
          <b-form-group>
            <b-input-group size="sm" :prepend="$t('output.paymentPartReceipt.boundaryLines')" id="boundaryLinesLabel"
                           label-for="boundaryLines">
              <b-form-checkbox id="boundaryLines" class="checkbox float-right ml-1 mt-1"
                               v-model="paymentPartReceipt.boundaryLines"></b-form-checkbox>
            </b-input-group>
          </b-form-group>
          <b-form-group>
            <b-input-group size="sm" :prepend="$t('output.paymentPartReceipt.boundaryLinesMargins')"
                           id="boundaryLinesMarginsLabel" label-for="boundaryLinesMargins">
              <b-form-checkbox id="boundaryLinesMargins" class="checkbox float-right ml-1 mt-1"
                               v-model="paymentPartReceipt.boundaryLinesMargins"></b-form-checkbox>
            </b-input-group>
          </b-form-group>
          <b-form-group>
            <b-input-group size="sm" :prepend="$t('output.paymentPartReceipt.boundaryLineScissors')"
                           id="boundaryLineScissorsLabel" label-for="boundaryLineScissors">
              <b-form-checkbox id="boundaryLineScissors" class="checkbox float-right ml-1 mt-1"
                               v-model="paymentPartReceipt.boundaryLineScissors"></b-form-checkbox>
            </b-input-group>
          </b-form-group>
          <b-form-group>
            <b-input-group size="sm" :prepend="$t('output.paymentPartReceipt.boundaryLineSeparationText')"
                           id="boundaryLineSeparationTextLabel" label-for="boundaryLineSeparationText">
              <b-form-checkbox id="boundaryLineSeparationText" class="checkbox float-right ml-1 mt-1"
                               v-model="paymentPartReceipt.boundaryLineSeparationText"></b-form-checkbox>
            </b-input-group>
          </b-form-group>
          <b-form-group>
            <b-input-group size="sm" :prepend="$t('output.paymentPartReceipt.additionalPrintMargin')"
                           id="additionalPrintMarginLabel" label-for="additionalPrintMargin">
              <b-form-checkbox id="additionalPrintMargin" class="checkbox float-right ml-1 mt-1"
                               v-model="paymentPartReceipt.additionalPrintMargin"></b-form-checkbox>
            </b-input-group>
          </b-form-group>
          <div class="btn">
            <b-button type="submit" variant="primary">
              <icon name="download"/>
              {{ $t('actions.download') }}
            </b-button>
          </div>
        </b-form>
        <div class="dibito-banner">
          <a href="https://www.dibito.ch" target="_blank">
            <img class="dibito-logo-big" alt="Dibito - Digital Billing" src="static/dibito-logo.svg">
            {{ $t('dibito.ad') }}
          </a>
        </div>
        <div slot="modal-footer" class="w-100">
          <b-btn size="sm" class="float-right" variant="primary" @click="closeModal('exportPaymentPartReceiptModal')">
            {{ $t('actions.close') }}
          </b-btn>
        </div>
      </b-modal>
      <b-modal id="qrCodeModal">
        <div slot="modal-title">
          <icon name="qrcode"></icon>
          {{ $t('output.qrCode.title') }}
        </div>
        <span style="display: block;" v-show="response.status">
          <b-form-textarea style="text-align: left;background: transparent; color:red; border:none"
                           v-model="response.status" readonly no-resize></b-form-textarea>
        </span>
        <b-form @submit="getQRCodeImage" v-if="show" class="form-horizontal">
          <b-form-group>
            <b-input-group size="sm" :prepend="$t('output.qrCode.format')" id="qrCodeImageFormatLabel"
                           label-for="qrCodeImageFormat">
              <b-form-select id="qrCodeImageFormat" :options="formats" v-model="qrCodeImage.format"
                             required></b-form-select>
            </b-input-group>
          </b-form-group>
          <b-form-group v-if="qrCodeImage.format !== 'application/pdf'">
            <b-input-group size="sm" :prepend="$t('output.qrCode.resolution')" id="qrCodeResolutionLabel"
                           label-for="qrCodeResolution">
              <b-form-select id="qrCodeResolution" :options="resolutions" v-model="qrCodeImage.resolution"
                             required></b-form-select>
            </b-input-group>
          </b-form-group>
          <div class="btn">
            <b-button type="submit" variant="primary">
              <icon name="download"/>
              {{ $t('actions.download') }}
            </b-button>
          </div>
        </b-form>
        <div slot="modal-footer" class="w-100">
          <b-btn size="sm" class="float-right" variant="primary" @click="closeModal('qrCodeModal')">
            {{ $t('actions.close') }}
          </b-btn>
        </div>
      </b-modal>
      <b-modal ref="spcModal" id="spcModal">
        <div slot="modal-title">
          <icon name="code"></icon>
          {{ $t('output.swissPaymentsCode.title') }}
        </div>
        <span style="display: block;" v-show="response.status">
          <b-form-textarea style="text-align: left;background: transparent; color:red; border:none"
                           v-model="response.status" readonly no-resize></b-form-textarea>
        </span>
        <b-form-textarea id="swissPaymentCodeTextArea" :rows="4" class='swissPaymentCode'
                         v-model="swissPaymentCode.swissPaymentCodeText" readonly no-resize></b-form-textarea>
        <div slot="modal-footer" class="w-100">
          <b-btn size="sm" class="float-right" variant="primary" @click="closeModal('spcModal')">
            {{ $t('actions.close') }}
          </b-btn>
        </div>
      </b-modal>

      <b-modal ref="previewPaymentPartModal" id="previewPaymentPartModal" size="lg">
        <div slot="modal-title">
          <icon name="eye"></icon>
          {{ $t('output.paymentPartReceipt.title') }}
        </div>
        <img :src="paymentPreview.previewImgSrc" alt="" width="100%">
        <div class="dibito-banner">
          <a href="https://www.dibito.ch" target="_blank">
            <img class="dibito-logo-big" alt="Dibito - Digital Billing" src="static/dibito-logo.svg">
            {{ $t('dibito.ad') }}
          </a>
        </div>
        <div slot="modal-footer" class="w-100">
          <b-btn size="sm" class="float-right" variant="primary" @click="closeModal('previewPaymentPartModal')">
            {{ $t('actions.close') }}
          </b-btn>
        </div>
      </b-modal>

      <b-modal ref="previewQrCodeModal" id="previewQrCodeModal" size="sm">
        <div slot="modal-title">
          <icon name="eye"></icon>
          {{ $t('output.qrCode.title') }}
        </div>
        <img :src="qrCodeImage.previewImgSrc" alt="" width="100%">
        <div slot="modal-footer" class="w-100">
          <b-btn size="sm" class="float-right" variant="primary" @click="closeModal('previewQrCodeModal')">
            {{ $t('actions.close') }}
          </b-btn>
        </div>
      </b-modal>

      <b-modal ref="scanModal" id="scanModal" size="lg">
        <div slot="modal-title">
          <icon name="camera"></icon>
          {{ $t('nav.scan') }}
        </div>

        <b-form v-if="show" class="form-horizontal">
          <b-form-group>
            <b-input-group label-size="sm" size="sm" :prepend="$t('scan.file.label')">
              <b-form-file
                v-model="scan.file"
                :state="Boolean(scan.file)"
                :placeholder="$t('scan.file.placeholder')"
                :drop-placeholder="$t('scan.file.dropPlaceholder')"
                v-on:change="resetScan"
              ></b-form-file>
              <b-button v-if="scan.file" v-on:click="scanDocument" variant="primary" size="sm" class="float-right ml-1">
                {{ $t('scan.scanDocument') }}
              </b-button>
            </b-input-group>
            <b-input-group v-if="scan.file">
                <div>{{$t('scan.file.type')}}: {{ scan.file.type }}</div>
            </b-input-group>
          </b-form-group>
        </b-form>

        <div class="accordion" role="tablist" v-if="scan.previewImgSrc || scan.document || scan.error">
          <b-card no-body class="mb-1" v-if="scan.error">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle.accordion-1 variant="info">Error</b-button>
            </b-card-header>
            <b-collapse id="accordion-1" visible accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <b-card-text>404: No Swiss QR Code could be parsed / extracted from the given document</b-card-text>
                <b-card-text>422: Document format not supported</b-card-text>
                <pre>{{scan.error}}</pre>
              </b-card-body>
            </b-collapse>
          </b-card>

          <b-card no-body class="mb-1" v-if="scan.previewImgSrc">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle.accordion-1 variant="info">{{$t('scan.paymentPartReceiptTitle')}}</b-button>
            </b-card-header>
            <b-collapse id="accordion-1" visible accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <b-card-text>{{ text }}</b-card-text>
                <img :src="scan.previewImgSrc" alt="" width="100%">
              </b-card-body>
            </b-collapse>
          </b-card>

          <b-card no-body class="mb-1" v-if="scan.document">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle.accordion-2 variant="info">{{$t('scan.rawData')}}</b-button>
            </b-card-header>
            <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <pre>{{scan.document}}</pre>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>

        <div slot="modal-footer" class="w-100">
          <b-btn size="sm" class="float-right" variant="primary" @click="closeModal('scanModal')">
            {{ $t('actions.close') }}
          </b-btn>
        </div>
      </b-modal>

      <b-modal ref="utilsModal" id="utilsModal" size="lg">
        <div slot="modal-title">
          <icon name="check"></icon>
          {{ $t('nav.utils') }}
        </div>

        <b-form @submit="validateQrReference" v-if="show" class="form-horizontal">
          <b-form-group>
            <b-input-group label-size="sm" size="sm" :prepend="$t('validation.qrReferenceNumber')">
              <b-form-input v-model="validation.qrRefNumberInput" placeholder="QR reference number"
                            class="input-utilsField"></b-form-input>
              <b-input-group-append>
                <b v-if="validation.qrRefNumberValid">
                  <icon name="check-circle" scale="1.5" color="green"></icon>
                </b>
                <b v-else-if="!validation.qrRefNumberValid && validation.qrRefNumberValid !== null">
                  <icon name="times-circle" scale="1.5" color="red"></icon>
                </b>
              </b-input-group-append>
              <b-button type="submit" variant="primary" size="sm">
                {{ $t('actions.validate') }}
              </b-button>
            </b-input-group>
          </b-form-group>
        </b-form>
        <hr>

        <b-form @submit="validateIban" v-if="show" class="form-horizontal">
          <b-form-group>
            <b-input-group size="sm" :prepend="$t('creditor.creditorInformation.iban')">
              <b-form-input v-model="validation.iban" placeholder="IBAN" class="input-utilsField"></b-form-input>
              <b-input-group-append>
                <b v-if="validation.ibanValid">
                  <icon name="check-circle" scale="1.5" color="green"></icon>
                </b>
                <b v-else-if="!validation.ibanValid && validation.ibanValid !== null">
                  <icon name="times-circle" scale="1.5" color="red"></icon>
                </b>
              </b-input-group-append>
              <b-button type="submit" variant="primary" size="sm">
                {{ $t('actions.validate') }}
              </b-button>
            </b-input-group>
          </b-form-group>
        </b-form>
        <hr>

        <b-form @submit="validateQrIban" v-if="show" class="form-horizontal">
          <b-form-group>
            <b-input-group size="sm" :prepend="$t('validation.qrIban')">
              <b-form-input v-model="validation.qrIban" placeholder="QR IBAN" class="input-utilsField"></b-form-input>
              <b-input-group-append>
                <b v-if="validation.qrIbanValid">
                  <icon name="check-circle" scale="1.5" color="green"></icon>
                </b>
                <b v-else-if="!validation.qrIbanValid && validation.qrIbanValid !== null">
                  <icon name="times-circle" scale="1.5" color="red"></icon>
                </b>
              </b-input-group-append>
              <b-button type="submit" variant="primary" size="sm">
                {{ $t('actions.validate') }}
              </b-button>
            </b-input-group>
          </b-form-group>
        </b-form>
        <hr>

        <b-form @submit="validateCreditorReference" v-if="show" class="form-horizontal">
          <b-form-group>
            <b-input-group size="sm" :prepend="$t('paymentReference.referenceTypes.scor')">
              <b-form-input v-model="validation.creditorReference" placeholder="Creditor Reference"
                            class="input-utilsField"></b-form-input>
              <b-input-group-append>
                <b v-if="validation.creditorReferenceValid">
                  <icon name="check-circle" scale="1.5" color="green"></icon>
                </b>
                <b v-else-if="!validation.creditorReferenceValid && validation.creditorReferenceValid !== null">
                  <icon name="times-circle" scale="1.5" color="red"></icon>
                </b>
              </b-input-group-append>
              <b-button type="submit" variant="primary" size="sm">
                {{ $t('actions.validate') }}
              </b-button>
            </b-input-group>
          </b-form-group>
        </b-form>

        <div slot="modal-footer" class="w-100">
          <b-btn size="sm" class="float-right" variant="primary" @click="closeModal('utilsModal')">
            {{ $t('actions.close') }}
          </b-btn>
        </div>
      </b-modal>

      <b-modal ref="pdfUtils" id="pdfUtils" size="lg">
        <div slot="modal-title">
          <icon name="file-invoice"></icon>
          {{ $t('nav.pdfUtils') }}
        </div>

        <b-form v-if="show" class="form-horizontal">
          <b-form-group>
            <b-input-group label-size="sm" size="sm" :prepend="$t('pdf.merge')">
              <b-form-file v-model="pdfUpload.fileUpload" placeholder="..." class="input-utilsField"></b-form-file>
              <b-button v-on:click="mergePdfGeneratedPpr" variant="primary" size="sm" class="ml-3">
                {{ $t('pdf.merge') }}
              </b-button>
              <b-button v-on:click="appendPdfGeneratedPpr" variant="primary" size="sm" class="ml-2">
                {{ $t('pdf.append') }}
              </b-button>
            </b-input-group>
          </b-form-group>
        </b-form>

        <div slot="modal-footer" class="w-100">
          <b-btn size="sm" class="float-right" variant="primary" @click="closeModal('pdfUtils')">
            {{ $t('actions.close') }}
          </b-btn>
        </div>
      </b-modal>

      <b-modal id="examplesModal" size="lg" :title="$t('examples.title')">
        <b-card no-body>
          <b-tabs card>
            <b-tab no-body :title="$t('examples.oneShort')" active>
              <b-card-img bottom src="static/1_qrbill_qrr_bill_information.png"></b-card-img>
              <b-card-footer>
                <p>{{ $t('examples.one') }}</p>
                <b-btn @click="exampleHandler(1)">{{ $t('examples.apply') }}</b-btn>
              </b-card-footer>
            </b-tab>
            <b-tab no-body :title="$t('examples.twoShort')">
              <b-card-img bottom src="static/2_qrbill_scor_simple.png"></b-card-img>
              <b-card-footer>
                <p>{{ $t('examples.two') }}</p>
                <b-btn @click="exampleHandler(2)">{{ $t('examples.apply') }}</b-btn>
              </b-card-footer>
            </b-tab>
            <b-tab no-body :title="$t('examples.threeShort')">
              <b-card-img bottom src="static/3_qrbill_non_simple.png"></b-card-img>
              <b-card-footer>
                <p>{{ $t('examples.three') }}</p>
                <b-btn @click="exampleHandler(3)">{{ $t('examples.apply') }}</b-btn>
              </b-card-footer>
            </b-tab>
            <b-tab no-body :title="$t('examples.fourShort')">
              <b-card-img bottom src="static/4_qrbill_non_donation.png"></b-card-img>
              <b-card-footer>
                <p>{{ $t('examples.four') }}</p>
                <b-btn @click="exampleHandler(4)">{{ $t('examples.apply') }}</b-btn>
              </b-card-footer>
            </b-tab>
            <b-tab no-body :title="$t('examples.fiveShort')">
              <b-card-img bottom src="static/5_qrbill_qrr_noamount.png"></b-card-img>
              <b-card-footer>
                <p>{{ $t('examples.five') }}</p>
                <b-btn @click="exampleHandler(5)">{{ $t('examples.apply') }}</b-btn>
              </b-card-footer>
            </b-tab>
          </b-tabs>
        </b-card>
        <div slot="modal-footer" class="w-100">
          <b-btn size="sm" class="float-right" variant="primary" @click="closeModal('examplesModal')">
            {{ $t('actions.close') }}
          </b-btn>
        </div>
      </b-modal>
    </b-container>
  </div>
</template>

<script>
import LabeledInput from './input/LabeledInput'
import {i18n, setI18nLanguage} from '../lang/i18n'
import axios from 'axios'
import {exampleEmpty, exampleFive, exampleFour, exampleOne, exampleThree, exampleTwo} from '../exampleData/exmpleData'

const DEFAULT_DEMO_API_KEY = '582c9ea9-741a-4bb6-acae-cf92f8805864'
export default {
  components: {
    LabeledInput
  },
  data () {
    return {
      body: {},
      response: {
        status: ''
      },
      currencies: [
        'EUR', 'CHF'
      ],
      formats: [
        {value: 'application/pdf', text: 'PDF'},
        {value: 'image/png', text: 'PNG'},
        {value: 'image/gif', text: 'GIF'},
        {value: 'image/jpeg', text: 'JPEG'},
        {value: 'image/bmp', text: 'BMP'},
        {value: 'image/tiff', text: 'TIFF'}
      ],
      resolutions: [
        {value: 'LOW_150_DPI', text: 'Low - 150 DPI'},
        {value: 'MEDIUM_300_DPI', text: 'Medium - 300 DPI'},
        {value: 'HIGH_600_DPI', text: 'High - 600 DPI'}
      ],
      fontFamilies: [
        {value: 'LIBERATION_SANS', text: 'Liberation Sans'},
        {value: 'HELVETICA', text: 'Helvetica'},
        {value: 'ARIAL', text: 'Arial'}
      ],
      booleanValues: [
        'true', 'false'
      ],
      defaultApiKey: DEFAULT_DEMO_API_KEY,
      apiKey: DEFAULT_DEMO_API_KEY,
      ultimateCreditorEqualsCreditor: true,
      qrCodeImage: {
        format: 'image/png',
        resolution: 'MEDIUM_300_DPI',
        previewImgSrc: ''
      },
      paymentPartReceipt: {
        language: 'de',
        fontFamily: 'LIBERATION_SANS',
        resolution: 'MEDIUM_300_DPI',
        pageSize: 'DIN_LANG',
        boundaryLines: 'true',
        boundaryLinesMargins: 'false',
        boundaryLineScissors: 'true',
        boundaryLineSeparationText: 'false',
        additionalPrintMargin: 'false',
        format: 'image/png'
      },
      swissPaymentCode: {
        swissPaymentCodeText: ''
      },
      paymentPreview: {
        language: 'de',
        fontFamily: 'LIBERATION_SANS',
        resolution: 'LOW_150_DPI',
        pageSize: 'DIN_LANG',
        boundaryLines: 'true',
        boundaryLinesMargins: 'false',
        boundaryLineScissors: 'true',
        boundaryLineSeparationText: 'false',
        additionalPrintMargin: 'false',
        format: 'image/png',
        previewImgSrc: ''
      },
      qrRefNumber: {
        qrRefNumberText: ''
      },
      validation: {
        qrRefNumberInput: '',
        qrRefNumberValid: null,
        iban: '',
        ibanValid: null,
        qrIban: '',
        qrIbanValid: null,
        creditorReference: '',
        creditorReferenceValid: null

      },
      pdfUpload: {
        fileUpload: null
      },
      scan: {
        file: null,
        document: null,
        error: null,
        previewImgSrc: null
      },
      show: true
    }
  },
  created: function () {
    this.setExample(exampleOne())
  },
  computed: {
    currentLanguage: function () {
      return i18n.locale
    },
    withoutReference: function () {
      return (this.body.paymentReference.referenceType === 'NON')
    },
    baseUrl: function () {
      return process.env.API_BASE_URL + 'v2/'
    },
    showApiKey: function () {
      return !this.baseUrl.includes('demo.qr-invoice.ch')
    },
    outputLanguages: function () {
      return [
        {value: 'de', text: i18n.t('output.paymentPartReceipt.languages.de')},
        {value: 'fr', text: i18n.t('output.paymentPartReceipt.languages.fr')},
        {value: 'it', text: i18n.t('output.paymentPartReceipt.languages.it')},
        {value: 'en', text: i18n.t('output.paymentPartReceipt.languages.en')}
      ]
    },
    referenceTypes: function () {
      return [
        {value: 'QRR', text: i18n.t('paymentReference.referenceTypes.qrr')},
        {value: 'SCOR', text: i18n.t('paymentReference.referenceTypes.scor')},
        {value: 'NON', text: i18n.t('paymentReference.referenceTypes.non')}
      ]
    },
    pageSizes: function () {
      return [
        {value: 'A4', text: i18n.t('output.paymentPartReceipt.pageSizes.a4')},
        {value: 'A5', text: i18n.t('output.paymentPartReceipt.pageSizes.a5')},
        {value: 'DIN_LANG', text: i18n.t('output.paymentPartReceipt.pageSizes.din_lang')},
        {value: 'DIN_LANG_CROPPED', text: i18n.t('output.paymentPartReceipt.pageSizes.din_lang_cropped')}
      ]
    }
  },
  methods: {
    setExample: function (example) {
      this.body = example
      this.updateUltimateCreditorAddressType()
    },
    updateUltimateCreditorAddressType: function () {
      if (this.ultimateCreditorEqualsCreditor) {
        this.body.ultimateCreditor.addressType = 'STRUCTURED'
      } else {
        this.body.ultimateCreditor.addressType = ''
      }
    },
    applyExample: function (example) {
      this.setExample(example)
      this.closeModal('examplesModal')
    },
    closeModal: function (id) {
      this.$root.$emit('bv::hide::modal', id)
    },
    exampleHandler (int) {
      let example
      if (int === 1) {
        example = exampleOne()
      }
      if (int === 2) {
        example = exampleTwo()
      }
      if (int === 3) {
        example = exampleThree()
      }
      if (int === 4) {
        example = exampleFour()
      }
      if (int === 5) {
        example = exampleFive()
      }
      this.applyExample(example)
    },
    changeLanguage (lang) {
      setI18nLanguage(lang)
    },
    getQRCodeImage (evt) {
      this.$validator.validateAll().then((result) => {
        if (result) {
          evt.preventDefault()
          this.response.status = ''
          let url = this.baseUrl + 'swiss-qr-code?resolution=' + this.qrCodeImage.resolution +
            '&api_key=' + this.apiKey
          let body = JSON.stringify(this.body, this.jsonPreProcessor)
          let config = {
            headers: {
              'Content-Type': 'application/json',
              'Accept': this.qrCodeImage.format
            },
            responseType: 'blob'
          }
          axios.post(url, body, config).then(response => {
            let a = document.createElement('a')
            a.href = window.URL.createObjectURL(response.data)
            a.download = 'QRCode' + '.' + this.qrCodeImage.format.substr(this.qrCodeImage.format.indexOf('/') + 1)
            a.style.display = 'none'
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }).catch(error => {
            let reader = new FileReader()
            reader.readAsText(error.response.data)
            reader.addEventListener('loadend', (e) => {
              this.response.status = this.getText(e)
            })
          })
        }
      })
    },
    getPaymentPart (evt) {
      this.$validator.validateAll().then((result) => {
        if (result) {
          evt.preventDefault()
          this.response.status = ''
          let url = this.baseUrl + 'payment-part-receipt' +
            '?fontFamily=' + this.paymentPartReceipt.fontFamily +
            '&pageSize=' + this.paymentPartReceipt.pageSize +
            '&resolution=' + this.paymentPartReceipt.resolution +
            '&boundaryLines=' + this.paymentPartReceipt.boundaryLines +
            '&boundaryLinesMargins=' + this.paymentPartReceipt.boundaryLinesMargins +
            '&boundaryLineScissors=' + this.paymentPartReceipt.boundaryLineScissors +
            '&boundaryLineSeparationText=' + this.paymentPartReceipt.boundaryLineSeparationText +
            '&additionalPrintMargin=' + this.paymentPartReceipt.additionalPrintMargin +
            '&api_key=' + this.apiKey
          let body = JSON.stringify(this.body, this.jsonPreProcessor)
          let config = {
            headers: {
              'Content-Type': 'application/json',
              'Accept': this.paymentPartReceipt.format,
              'Accept-Language': this.paymentPartReceipt.language
            },
            responseType: 'blob'
          }
          axios.post(url, body, config).then(response => {
            let a = document.createElement('a')
            a.href = window.URL.createObjectURL(response.data)
            a.download = 'PaymentPartReceipt_' + this.paymentPartReceipt.pageSize + '_' + this.paymentPartReceipt.language + '_' + this.paymentPartReceipt.fontFamily + '.' + this.paymentPartReceipt.format.substr(this.paymentPartReceipt.format.indexOf('/') + 1)
            a.style.display = 'none'
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }).catch(error => {
            let reader = new FileReader()
            reader.readAsText(error.response.data)
            reader.addEventListener('loadend', (e) => {
              this.response.status = this.getText(e)
            })
          })
        }
      })
    },
    getSwissPaymentCode (evt) {
      let parent = this
      this.$validator.validateAll().then((result) => {
        if (result) {
          evt.preventDefault()
          this.response.status = ''
          let url = this.baseUrl + 'swiss-payments-code' + '?api_key=' + this.apiKey
          let body = JSON.stringify(this.body, this.jsonPreProcessor)
          let config = {
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'text/plain'
            }
          }
          axios.post(url, body, config).then(response => {
            this.swissPaymentCode.swissPaymentCodeText = response.data
            parent.$refs['spcModal'].show()
          }).catch(error => {
            this.response.status = error.response.data
          })
        }
      })
    },
    showPreview (evt) {
      let parent = this
      this.$validator.validateAll().then((result) => {
        if (result) {
          evt.preventDefault()
          this.response.status = ''
          let url = this.baseUrl + 'payment-part-receipt' +
            '?fontFamily=' + this.paymentPreview.fontFamily +
            '&pageSize=' + this.paymentPreview.pageSize +
            '&resolution=' + this.paymentPreview.resolution +
            '&boundaryLines=' + this.paymentPreview.boundaryLines +
            '&boundaryLinesMargins=' + this.paymentPreview.boundaryLinesMargins +
            '&boundaryLineScissors=' + this.paymentPreview.boundaryLineScissors +
            '&boundaryLineSeparationText=' + this.paymentPreview.boundaryLineSeparationText +
            '&additionalPrintMargin=' + this.paymentPreview.additionalPrintMargin +
            '&api_key=' + this.apiKey
          let body = JSON.stringify(this.body, this.jsonPreProcessor)
          let config = {
            headers: {
              'Content-Type': 'application/json',
              'Accept': this.paymentPreview.format,
              'Accept-Language': this.currentLanguage
            },
            url: 'payment-part-receipt',
            responseType: 'arraybuffer'
          }
          axios.post(url, body, config).then(response => {
            let bytes = new Uint8Array(response.data)
            // eslint-disable-next-line
            let binary = bytes.reduce((data, b) => data += String.fromCharCode(b), '')
            parent.paymentPreview.previewImgSrc = 'data:image/png;base64,' + btoa(binary)
            parent.$refs['previewPaymentPartModal'].show()
          }).catch(error => {
            this.response.status = String.fromCharCode.apply(null, new Uint8Array(error.response.data))
          })
        }
      })
    },
    showQrCodePreview (evt) {
      let parent = this
      this.$validator.validateAll().then((result) => {
        if (result) {
          evt.preventDefault()
          this.response.status = ''
          let url = this.baseUrl + 'swiss-qr-code?resolution=' + this.qrCodeImage.resolution + '&api_key=' + this.apiKey
          let body = JSON.stringify(this.body, this.jsonPreProcessor)
          let config = {
            headers: {
              'Content-Type': 'application/json',
              'Accept': this.qrCodeImage.format
            },
            url: 'swiss-qr-code?resolution=',
            responseType: 'arraybuffer'
          }
          axios.post(url, body, config).then(response => {
            let bytes = new Uint8Array(response.data)
            // eslint-disable-next-line
            let binary = bytes.reduce((data, b) => data += String.fromCharCode(b), '')
            parent.qrCodeImage.previewImgSrc = 'data:image/png;base64,' + btoa(binary)
            parent.$refs['previewQrCodeModal'].show()
          }).catch(error => {
            this.response.status = String.fromCharCode.apply(null, new Uint8Array(error.response.data))
          })
        }
      })
    },
    validateQrReference (evt) {
      evt.preventDefault()
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.response.status = ''
          let url = this.baseUrl + 'qr-reference/validate' + '?api_key=' + this.apiKey
          let body = this.validation.qrRefNumberInput
          let config = {
            headers: {
              'Content-Type': 'text/plain',
              'Accept': 'text/plain'
            }
          }
          axios.post(url, body, config).then(response => {
            this.validation.qrRefNumberValid = response.status === 200
          }).catch(_ => {
            this.validation.qrRefNumberValid = false
          })
        }
      })
    },
    validateIban (evt) {
      evt.preventDefault()
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.response.status = ''
          let url = this.baseUrl + 'iban/validate' + '?api_key=' + this.apiKey
          let body = this.validation.iban
          let config = {
            headers: {
              'Content-Type': 'text/plain',
              'Accept': 'text/plain'
            }
          }
          axios.post(url, body, config).then(response => {
            this.validation.ibanValid = response.status === 200
          }).catch(_ => {
            this.validation.ibanValid = false
          })
        }
      })
    },
    validateQrIban (evt) {
      evt.preventDefault()
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.response.status = ''
          let url = this.baseUrl + 'qr-iban/validate' + '?api_key=' + this.apiKey
          let body = this.validation.qrIban
          let config = {
            headers: {
              'Content-Type': 'text/plain',
              'Accept': 'text/plain'
            }
          }
          axios.post(url, body, config).then(response => {
            this.validation.qrIbanValid = response.status === 200
          }).catch(_ => {
            this.validation.qrIbanValid = false
          })
        }
      })
    },
    validateCreditorReference (evt) {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.response.status = ''
          let url = this.baseUrl + 'creditor-reference/validate' + '?api_key=' + this.apiKey
          let body = this.validation.creditorReference
          let config = {
            headers: {
              'Content-Type': 'text/plain',
              'Accept': 'text/plain'
            }
          }
          axios.post(url, body, config).then(response => {
            this.validation.creditorReferenceValid = response.status === 200
          }).catch(_ => {
            this.validation.creditorReferenceValid = false
          })
        }
      })
    },
    mergePdfGeneratedPpr (evt) {
      let that = this
      evt.preventDefault()
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.response.status = ''
          let url = this.baseUrl + 'payment-part-receipt' +
            '?fontFamily=' + this.paymentPartReceipt.fontFamily +
            '&pageSize=' + 'DIN_LANG' +
            '&resolution=' + this.paymentPartReceipt.resolution +
            '&boundaryLines=' + 'true' +
            '&boundaryLineScissors=' + 'true' +
            '&boundaryLineSeparationText=' + 'false' +
            '&api_key=' + this.apiKey
          let body = JSON.stringify(this.body, this.jsonPreProcessor)
          let config = {
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/pdf',
              'Accept-Language': this.paymentPartReceipt.language
            },
            responseType: 'blob'
          }
          axios.post(url, body, config).then(response => {
            let urlMerge = this.baseUrl + 'pdf/merge' + '?api_key=' + this.apiKey
            let configMerge = {
              headers: {
                'Content-Type': 'multipart/form-data',
                'Accept': 'application/pdf'
              },
              responseType: 'blob'
            }
            let formData = new FormData()
            let fileInput = that.pdfUpload.fileUpload

            formData.append('file', fileInput)
            formData.append('file2', response.data)

            axios.post(urlMerge, formData, configMerge).then(responseMerge => {
              let a = document.createElement('a')
              a.href = window.URL.createObjectURL(responseMerge.data)
              a.download = 'mergedFile.pdf'
              a.style.display = 'none'
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }).catch(error => {
              this.response.status = error.response.data
            })
          }).catch(error => {
            let reader = new FileReader()
            reader.readAsText(error.response.data)
            reader.addEventListener('loadend', (e) => {
              this.response.status = this.getText(e)
            })
          })
        }
      })
    },
    appendPdfGeneratedPpr (evt) {
      let that = this
      evt.preventDefault()
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.response.status = ''
          let url = this.baseUrl + 'payment-part-receipt' +
            '?fontFamily=' + this.paymentPartReceipt.fontFamily +
            '&pageSize=' + 'DIN_LANG' +
            '&resolution=' + this.paymentPartReceipt.resolution +
            '&boundaryLines=' + 'true' +
            '&boundaryLineScissors=' + 'true' +
            '&boundaryLineSeparationText=' + 'false' +
            '&api_key=' + this.apiKey
          let body = JSON.stringify(this.body, this.jsonPreProcessor)
          let config = {
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/pdf',
              'Accept-Language': this.paymentPartReceipt.language
            },
            responseType: 'blob'
          }
          axios.post(url, body, config).then(response => {
            let urlMerge = this.baseUrl + 'pdf/append' + '?api_key=' + this.apiKey
            let configMerge = {
              headers: {
                'Content-Type': 'multipart/form-data',
                'Accept': 'application/pdf'
              },
              responseType: 'blob'
            }
            let formData = new FormData()
            let fileInput = that.pdfUpload.fileUpload

            formData.append('file', fileInput)
            formData.append('file2', response.data)

            axios.post(urlMerge, formData, configMerge).then(responseMerge => {
              let a = document.createElement('a')
              a.href = window.URL.createObjectURL(responseMerge.data)
              a.download = 'appendFile.pdf'
              a.style.display = 'none'
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }).catch(error => {
              this.response.status = error.response.data
            })
          }).catch(error => {
            let reader = new FileReader()
            reader.readAsText(error.response.data)
            reader.addEventListener('loadend', (e) => {
              this.response.status = this.getText(e)
            })
          })
        }
      })
    },
    applyScannedDocument: function () {
      this.closeModal('scanModal')
    },
    resetScan (evt) {
      this.scan.error = null
      this.scan.document = null
      this.scan.previewImgSrc = null
    },
    scanDocument (evt) {
      this.resetScan()
      let that = this
      evt.preventDefault()
      let urlMerge = this.baseUrl + 'swiss-qr-code/parse' + '?api_key=' + this.apiKey
      let configMerge = {
        headers: {
          'Content-Type': 'multipart/form-data',
          'Accept': 'application/json'
        },
        responseType: 'text'
      }
      let formData = new FormData()
      formData.append('file', that.scan.file)

      axios.post(urlMerge, formData, configMerge).then(responseParse => {
        that.scan.document = responseParse.data
        return that.scan.document
      }).catch(error => {
        console.log(error)
        that.scan.error = `${error}`
      }).then(data => {
        this.scanResultPreview(data)
      })
    },
    scanResultPreview (data) {
      if (!data) {
        return
      }
      let url = this.baseUrl + 'payment-part-receipt' +
        '?fontFamily=' + this.paymentPreview.fontFamily +
        '&pageSize=' + this.paymentPreview.pageSize +
        '&resolution=' + this.paymentPreview.resolution +
        '&boundaryLines=' + this.paymentPreview.boundaryLines +
        '&boundaryLinesMargins=' + this.paymentPreview.boundaryLinesMargins +
        '&boundaryLineScissors=' + this.paymentPreview.boundaryLineScissors +
        '&boundaryLineSeparationText=' + this.paymentPreview.boundaryLineSeparationText +
        '&additionalPrintMargin=' + this.paymentPreview.additionalPrintMargin +
        '&api_key=' + this.apiKey
      let body = JSON.stringify(data, this.jsonPreProcessor)
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Accept': this.paymentPreview.format,
          'Accept-Language': this.currentLanguage
        },
        url: 'payment-part-receipt',
        responseType: 'arraybuffer'
      }
      const that = this
      axios.post(url, body, config).then(response => {
        let bytes = new Uint8Array(response.data)
        // eslint-disable-next-line
        let binary = bytes.reduce((data, b) => data += String.fromCharCode(b), '')
        that.scan.previewImgSrc = 'data:image/png;base64,' + btoa(binary)
      }).catch(error => {
        console.log(error)
      })
    },
    onReset (evt) {
      evt.preventDefault()
      this.applyExample(exampleEmpty())
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    },
    ultimateCreditoEqualsCreditorUpdate () {
      this.ultimateCreditorEqualsCreditor = !this.ultimateCreditorEqualsCreditor
      this.updateUltimateCreditorAddressType()
    },
    getText (e) {
      let text
      if (e.target) {
        text = e.target.result
      } else if (e.srcElement) {
        text = e.srcElement.result
      }
      return text
    },
    jsonPreProcessor (key, value) {
      if (key === 'ultimateCreditor') {
        // do not send ultimateCreditor if it is equal to creditor
        if (this.ultimateCreditorEqualsCreditor || this.body.ultimateCreditor.addressType === '') {
          return undefined
        }
      } else if (key === 'ultimateDebtor') {
        // do not send ultimateDebtor group if non of the fields is entered
        if (this.isDebtorEmpty()) {
          return undefined
        }
      } else if (key === 'reference') {
        // if NON, do not send reference number
        if (this.withoutReference) {
          return undefined
        }
      }
      return value
    },
    isDebtorEmpty () {
      return (
        this.emptyString(this.body.ultimateDebtor.city) &&
        this.emptyString(this.body.ultimateDebtor.country) &&
        this.emptyString(this.body.ultimateDebtor.houseNumber) &&
        this.emptyString(this.body.ultimateDebtor.name) &&
        this.emptyString(this.body.ultimateDebtor.postalCode) &&
        this.emptyString(this.body.ultimateDebtor.streetName)
      )
    },
    emptyString (value) {
      return (value === null || value.trim() === '')
    }
  }
}
</script>

<style>
#qrinvoice-logo {
  height: 47px;
}

.dibito-banner {
  background-color: #e9ecef;
  margin: 10px 0 10px 0;
  padding: 10px;
}

.dibito-logo-big {
  margin: 5px;
  height: 60px;
  width: 90px;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
}

.card {
  margin-bottom: 1rem;
}

.heading {
  color: #484848;
  margin-bottom: 15px;
}

.btn-toolbar .btn {
  margin-top: 0.5rem;
}

.btn-primary, .btn-secondary, .btn-info {
  background: #02558B !important;
  color: white;
  border-color: #02558B !important;
}

.swissPaymentCode {
  background: white !important;
  color: #17252a;
  border-color: grey !important;
}

.is-danger {
  width: inherit;
}

.invalid-feedback {
  display: block !important;
}

.form-group {
  margin-bottom: 0.5rem;
}

.form-input {
  width: max-content;
}

.input-group-prepend {
  min-width: 8rem;
}

.input-group-text {
  width: 100%;
}

.fa-icon {
  vertical-align: middle;
}

.bg-header {
  background-color: #d8dbde !important;
}

@media (min-width: 1300px) {
  .input-group-prepend {
    min-width: 10rem;
  }

  #exportPaymentPartReceiptModal .input-group-prepend {
    min-width: 18rem;
  }
}

.input-utilsField {
  margin-right: 0.5rem;
}

#utilsModal .input-group-append {
  width: 2rem;
}

/*Only for IE11*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #previewPaymentPartModal div.modal-content {
    display: block;
  }

  #previewQrCodeModal div.modal-content {
    display: block;
  }
}
</style>
